
  <div class="row">
    <div class="col-md-12">
      <h2>Server Name {{server.id}}</h2>
    </div>
  
    <div class="col-md-12" style="border: 1px solid black">
      <p class = "responseBox">Response Time {{server.responseTime}}</p>
    </div>
  <div class="row">
    <div class="col-md-12" style="margin-left: 10px;">
      <p>Average Response Time {{}}</p>
      <p>Response Time {{server.responseTime}}</p>
      <p>Operating System: {{server.os}}</p>
      <p>CPU: {{server.cpu}}</p>
    </div>
  </div>
</div>